{erl_first_files, ["libs/comment/src/mgr/cache_srv.erl"]}.

{sub_dirs, [
    "deps/lager",
    "deps/goldrush",
    
    "libs/common",
    "libs/cache",
    "libs/network",
    
    "test_frame"
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    no_debug_info

%%    warnings_as_errors,
%%    export_all,

]}.